In [24]:
import pandas as pd

df = pd.read_csv("..\data\BBCA.JK new.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-01,5200.0,5200.0,5200.0,5200.0,47.365.439.453.125,0
1,2019-01-02,5200.0,5245.0,5200.0,5240.0,477.297.900.390.625,35956000
2,2019-01-03,5200.0,5220.0,5115.0,5180.0,471.832.666.015.625,72358000
3,2019-01-04,5175.0,5205.0,5125.0,5205.0,474.109.765.625,51465000
4,2019-01-07,5265.0,5325.0,5245.0,5245.0,4.777.533.203.125,73438000
...,...,...,...,...,...,...,...
1246,2024-01-22,9600.0,9650.0,9525.0,9625.0,9625.0,52868300
1247,2024-01-23,9450.0,9600.0,9450.0,9600.0,9600.0,92348600
1248,2024-01-24,9600.0,9600.0,9475.0,9525.0,9525.0,84906000
1249,2024-01-25,9450.0,9575.0,9450.0,9500.0,9500.0,63212700
1250,2024-01-26,9400.0,9450.0,9300.0,9350.0,9350.0,78977300